NumericalMethods2/NumericalMethods.Silverlight/SampleData/Methods/Methods.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.Methods" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.Methods" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Samples" type="tns:Samples" />
  <xs:complexType name="Samples">
    <xs:sequence>
      <xs:element name="CategoryCollection" type="tns:CategoryCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Category" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element name="SampleCollection" type="tns:SampleCollection" />
    </xs:sequence>
    <xs:attribute name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SampleCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Sample" type="tns:Sample" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sample">
    <xs:sequence>
      <xs:element name="Syntax" type="tns:Syntax" />
    </xs:sequence>
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="src" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Syntax" />
</xs:schema>