NumericalMethods2/NumericalMethods.Silverlight/SampleData/SaveData/SaveData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SaveData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SaveData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Numerical_Methods" type="tns:Numerical_Methods" />
  <xs:complexType name="Numerical_Methods">
    <xs:sequence>
      <xs:element name="Approximate_DecisionCollection" type="tns:Approximate_DecisionCollection" />
      <xs:element name="Differential_EquationsCollection" type="tns:Differential_EquationsCollection" />
      <xs:element name="IntegrationCollection" type="tns:IntegrationCollection" />
      <xs:element name="NonLinearEqualizationCollection" type="tns:NonLinearEqualizationCollection" />
      <xs:element name="OptimizingCollection" type="tns:OptimizingCollection" />
      <xs:element name="InterpolationCollection" type="tns:InterpolationCollection" />
      <xs:element name="StatisticsCollection" type="tns:StatisticsCollection" />
      <xs:element name="RandomGeneratorCollection" type="tns:RandomGeneratorCollection" />
      <xs:element name="MatrixAlgebraCollection" type="tns:MatrixAlgebraCollection" />
      <xs:element name="LinearSystemsCollection" type="tns:LinearSystemsCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Approximate_DecisionCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Approximate_Decision" type="tns:Approximate_Decision" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Approximate_Decision">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Function" type="xs:string" />
    <xs:attribute name="ParamInput1" type="xs:double" />
    <xs:attribute name="ParamInput2" type="xs:double" />
    <xs:attribute name="ParamInput3" type="xs:double" />
    <xs:attribute name="ParamInput4" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Differential_EquationsCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Differential_Equations" type="tns:Differential_Equations" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Differential_Equations">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Function" type="xs:string" />
    <xs:attribute name="ParamInput1" type="xs:double" />
    <xs:attribute name="ParamInput2" type="xs:double" />
    <xs:attribute name="ParamInput3" type="xs:double" />
    <xs:attribute name="ParamInput4" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="IntegrationCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Integration" type="tns:Integration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Integration">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Function" type="xs:string" />
    <xs:attribute name="ParamInput1" type="xs:double" />
    <xs:attribute name="ParamInput2" type="xs:double" />
    <xs:attribute name="ParamInput3" type="xs:double" />
    <xs:attribute name="ParamInput4" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="NonLinearEqualizationCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NonLinearEqualization" type="tns:NonLinearEqualization" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonLinearEqualization">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Function" type="xs:string" />
    <xs:attribute name="ParamInput1" type="xs:double" />
    <xs:attribute name="ParamInput2" type="xs:double" />
    <xs:attribute name="ParamInput3" type="xs:double" />
    <xs:attribute name="ParamInput4" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="OptimizingCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Optimizing" type="tns:Optimizing" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Optimizing">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Function" type="xs:string" />
    <xs:attribute name="ParamInput1" type="xs:double" />
    <xs:attribute name="ParamInput2" type="xs:double" />
    <xs:attribute name="ParamInput3" type="xs:double" />
    <xs:attribute name="ParamInput4" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="InterpolationCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Interpolation" type="tns:Interpolation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Interpolation">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Function" type="xs:string" />
    <xs:attribute name="ParamInput1" type="xs:double" />
    <xs:attribute name="ParamInput2" type="xs:string" />
    <xs:attribute name="ParamInput3" type="xs:string" />
    <xs:attribute name="ParamInput4" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="StatisticsCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Statistics" type="tns:Statistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Statistics">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Function" type="xs:string" />
    <xs:attribute name="ParamInput1" type="xs:string" />
    <xs:attribute name="ParamInput2" type="xs:string" />
    <xs:attribute name="ParamInput3" type="xs:string" />
    <xs:attribute name="ParamInput4" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="RandomGeneratorCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="RandomGenerator" type="tns:RandomGenerator" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RandomGenerator">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Function" type="xs:string" />
    <xs:attribute name="ParamInput1" type="xs:double" />
    <xs:attribute name="ParamInput2" type="xs:string" />
    <xs:attribute name="ParamInput3" type="xs:string" />
    <xs:attribute name="ParamInput4" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MatrixAlgebraCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MatrixAlgebra" type="tns:MatrixAlgebra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatrixAlgebra">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Range" type="xs:double" />
    <xs:attribute name="Matrix" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="LinearSystemsCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="LinearSystems" type="tns:LinearSystems" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LinearSystems">
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="Range" type="xs:double" />
    <xs:attribute name="LinSysMasA" type="xs:string" />
    <xs:attribute name="LinSysMatrixB" type="xs:string" />
  </xs:complexType>
</xs:schema>